.V1 {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }
  
.V2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .V3 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .V4{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .V5 {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
  }
  
.V7 {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .V6 {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(165, 164, 71);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .V6:hover {
   background-color: white;
   color: rgb(165, 164, 71) ;
  }
  