 .Z51{
    margin-top: 100px;
}
.Z52{
    margin-top: 20px;
}
label{
    font-size: 15px;
    font-weight: bold;
}
.Z53{
    background-color: rgb(165, 164, 71);
    color: white;
}
.Z54{
    margin-top: 50px;
}
